@import url("../css/global.css");

.organizer {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.organizer .create .border-a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--orange);
  border-radius: 10px;
  overflow: hidden;
  transition: ease all 0.5s;
}

.organizer .create .border-a:hover {
  cursor: pointer;
  box-shadow: 1px 1px 20px var(--orange);
  transform: translateY(-5px);
}

.organizer .create a {
  text-decoration: none;
  color: var(--orange);
  font-size: 1.2rem;
  padding: 5rem 10rem;
  letter-spacing: 0.1rem;
}
