@import url("./global.css");

.gallery img {
  border-radius: 10px;
  box-shadow: 5px 5px 2px #d5d5d5, -5px -5px 2px #ebebeb;
  filter: blur(2px);
  position: relative;
  transition: ease all 0.7s;
}

.gallery img:hover {
  filter: blur(0px);
  cursor: pointer;
  animation: up-down 1s linear 1 normal;
}

@keyframes up-down {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
