@import url("../css/global.css");

iframe {
  border-radius: 10px;
  margin: 2rem 0rem 2rem 0rem;
}

textarea {
  padding: 0.6rem 1rem;
  border: none;
  border-bottom: solid 2px var(--extraSixth);
  transition: ease all 0.4s;
}

textarea:hover {
  border-bottom: solid 2px var(--orangeLight);
}

textarea:focus-visible {
  outline: none;
}

@media (width <= 800px) {
  .google-map {
    margin: 2rem 0rem 2rem 0rem;
  }
}
